<ul class="list-group">
  <li class="list-group-item">
    <button matInput mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
      <mat-icon>folder</mat-icon>
    </button>
    <a routerLink="/addfolder">Add Folder</a>
  </li>
  <li class="list-group-item">
    <button matInput mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
      <mat-icon color="Basic"><span class="material-icons-outlined">
          description
        </span></mat-icon>
    </button>
    <a routerLink="/addfolder">Add Google Doc</a>
  </li>
  <li class="list-group-item">
    <button matInput mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
      <mat-icon color="Basic"><span class="material-icons-outlined">
          description
        </span></mat-icon>
    </button>
    <a routerLink="/addfolder">Add Google Sheet</a>
  </li>
  <li class="list-group-item">
    <button matInput mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
      <mat-icon color="Accent">description</mat-icon>
    </button>
    <a routerLink="/addfolder">Add Google Slides</a>
  </li>

</ul>
<router-outlet id="router"></router-outlet>