<div class="cont">
  <mat-toolbar color="basic">

    <mat-toolbar-row>
      <div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Drive 2.0</span>
      </div>
      <div>
        <input type="search">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>

  </mat-toolbar>

</div>
<app-side-nav></app-side-nav>