<mat-toolbar color="basic">
    
    <mat-toolbar-row>
   
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
      <span>Drive 2.0</span>
     
      <span class="example-spacer"></span>
        
      
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Search" value="">

        <button matInput mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
            <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

    

  

    </mat-toolbar-row>
